{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^styles/(.*)$",
    "^assets/(.*)$",
    "^apis/(.*)$",
    "^queries/(.*)$",
    "^components/(.*)$",
    "^pages/(.*)$",
    "^store/(.*)$",
    "^hooks/(.*)$",
    "^utils/(.*)$",
    "^constants/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
