@import "styles/variables";

.input_wrap {
  @include flex(column, start, start);
  width: 100%;
}

.input {
  border: 1px solid $grey04;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  height: 35px;

  &::placeholder {
    color: $grey04;
  }

  &:focus {
    outline: 1px solid $brand01;
  }
}

.error_text {
  @include font($fs, normal, $red01, $defaultFont);
  text-align: start;
}
