@use "styles/variables";
@use "styles/mixin";

.reply_wrap {
  width: 100%;
  @include mixin.flex(column, flex-start, flex-start);
  background-color: variables.$grey02;
  border-top: 1px solid variables.$grey03;
}

.no_reply {
  @include mixin.font(12px, normal, variables.$grey05);
  padding: 10px;
  width: 100%;
}
