@use "styles/variables";
@use "styles/mixin";

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  @include mixin.flex(column, center, center);
  background-color: rgba(0, 0, 0, 0.15);
}

.modal_content {
  @include mixin.flex(column, flex-start, flex-start);
  max-width: 90%;
  width: 400px;
  background-color: variables.$white;
  border-radius: 8px;
}

.modal_body {
  @include mixin.flex(column, flex-start, flex-start, 10px);
  padding: 20px;
  width: 100%;
}

.modal_footer {
  @include mixin.flex(row, flex-end, center);
  width: 100%;
  padding: 10px;
  border-top: 1px solid variables.$grey03;
}

.input_wrap {
  @include mixin.flex(column, flex-start, flex-start, 8px);
  width: 100%;
}
