@use "styles/variables";

.Toastify__toast {
  box-sizing: border-box;
  width: fit-content;
  font-family: variables.$defaultFont;
  border-radius: 4px;
  padding: 8px 12px;
  min-height: auto; // 기본 높이 제한 해제
}

.Toastify__toast-icon {
  display: none;
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast--success {
  background-color: variables.$blue01;
  color: variables.$white;
}

.Toastify__toast--error {
  background-color: variables.$red02;
  color: variables.$white;
}
