@import "styles/variables";

.button_wrap {
  padding: 4px 8px;
  transition: 0.2s;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

.h35 {
  height: 35px;
}

.radius_4 {
  border-radius: 4px;
}

.radius_8 {
  border-radius: 8px;
}

.radius_20 {
  border-radius: 20px;
}

.p_xl {
  padding: 20px 40px;
}

.p_l {
  padding: 12px 16px;
}

.p_n {
  padding: 8px 12px;
}

.p_s {
  padding: 4px 8px;
}

.button_primary {
  background-color: $brand01;

  > * {
    color: $white;
  }

  &:focus {
    outline: 1px solid $brand01;
  }
}

.button_primary_line {
  border: 1px solid $brand01;

  > * {
    color: $brand01;
  }

  &:focus {
    outline: 1px solid $brand01;
  }
}

.button_gray {
  background-color: $grey02;
  border: 1px solid $grey03;
  > * {
    color: $grey05;
  }

  &:focus {
    outline: 1px solid $brand01;
  }
}
