@use "styles/variables";
@use "styles/mixin";

.page_wrap {
  @include mixin.flex(column, center, center);
  width: 100%;
  height: calc(100vh - 60px);
}

.signup_section {
  @include mixin.flex(column, start, center, 20px);
  width: 300px;
}

.signup_title_wrap {
  @include mixin.flex(row, center, center, 10px);
}

.signup_title {
  color: variables.$brand01;
}

.sign_form {
  @include mixin.flex(column, start, center, 20px);
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px 2px variables.$grey03;
}

.signup_input_wrap {
  @include mixin.flex(column, start, start, 10px);
  width: 100%;
}

.signup_input_button_wrap {
  @include mixin.flex(row, start, start, 10px);
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.login_notice_wrap {
  @include mixin.flex(row, center, center, 8px);

  > span {
    font-size: variables.$fs;
  }
}

.input_with_success_text {
  @include mixin.flex(column, start, start);
  width: 100%;
}

.success_text {
  @include mixin.font(
    variables.$fs,
    normal,
    variables.$blue01,
    variables.$defaultFont
  );
  text-align: start;
}
