@mixin font($s: 14px, $w: normal, $c: null, $f: null) {
  color: $c;
  font-family: $f;
  font-size: $s;
  font-weight: $w;
}

@mixin size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin flex($d: null, $j: space-between, $a: center, $g: 0, $fg: null) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
  gap: $g;
  flex-grow: $fg;
}
