@import "mixin";

:root {
  --color_brand01_light: #ffc3a3;
  --color_brand01: #fe7e37;
  --color_brand02: #f05a4e;

  --color_white: #fff;
  --color_grey01: #fdfdfd;
  --color_grey02: #f7f8f9;
  --color_grey03: #e9ebee;
  --color_grey04: #c5c8ce;
  --color_grey05: #646f7c;
  --color_grey06: #374553;
  --color_grey07: #28323c;
  --color_grey08: #161d24;
  --color_black: #000;

  --color_green01: #60b86f;
  --color_red01: #f74271;
  --color_red02: #ff0000;
  --color_blue01: #1e3bf8;

  --fs_h1: 30px;
  --fs_h2: 26px;
  --fs_h3: 24px;

  --fs_xl: 20px;
  --fs_l: 16px;
  --fs_n: 14px;
  --fs_s: 12px;
}

$defaultFont: "Pretendard", sans-serif;

$brand01Light: var(--color_brand01_light);
$brand01: var(--color_brand01);
$brand02: var(--color_brand02);

$white: var(--color_white);
$grey01: var(--color_grey01);
$grey02: var(--color_grey02);
$grey03: var(--color_grey03);
$grey04: var(--color_grey04);
$grey05: var(--color_grey05);
$grey06: var(--color_grey06);
$grey07: var(--color_grey07);
$grey08: var(--color_grey08);
$black: var(--color_black);

$green01: var(--color_green01);
$red01: var(--color_red01);
$red02: var(--color_red02);
$blue01: var(--color_blue01);

$fh1: var(--fs_h1);
$fh2: var(--fs_h2);
$fh3: var(--fs_h3);
$fxl: var(--fs_xl);
$fl: var(--fs_l);
$fn: var(--fs_n);
$fs: var(--fs_s);
