@import "mixin";

$defaultFont: "Pretendard", sans-serif;

$brand01: rgba(254, 126, 55);
$brand02: #f05a4e;

$white: #fff;
$grey01: #fdfdfd;
$grey02: #f7f8f9;
$grey03: #e9ebee;
$grey04: #c5c8ce;
$grey05: #646f7c;
$grey06: #374553;
$grey07: #28323c;
$grey08: #161d24;
$black: #000000;

$green01: #60b86f;
$red01: #f74271;
$red02: #ff0000;
$blue01: #1e3bf8;

$fxl: 20px;
$fl: 16px;
$fn: 14px;
$fs: 12px;
