@import "styles/variables";

.h1 {
  font-size: $fh1;
  font-weight: 600;
}

.h2 {
  font-size: $fh2;
  font-weight: 600;
}

.h3 {
  font-size: $fh3;
  font-weight: 600;
}

.xlarge {
  font-size: $fxl;
}

.large {
  font-size: $fl;
}

.normal {
  font-size: $fn;
}

.small {
  font-size: $fs;
}
