@use "styles/variables";

.h1 {
  font-size: variables.$fh1;
  font-weight: 600;
}

.h2 {
  font-size: variables.$fh2;
  font-weight: 600;
}

.h3 {
  font-size: variables.$fh3;
  font-weight: 600;
}

.xlarge {
  font-size: variables.$fxl;
}

.large {
  font-size: variables.$fl;
}

.normal {
  font-size: variables.$fn;
}

.small {
  font-size: variables.$fs;
}
