@use "styles/variables";
@use "styles/mixin";

.reply_input_wrap {
  width: 100%;
  @include mixin.flex(row, center, flex-start, 8px);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid variables.$grey03;
}

.input_wrap {
  flex-grow: 1;
  max-width: 500px;
}
