@use "styles/variables";
@use "styles/mixin";

.item_wrap {
  @include mixin.flex(row, start, center, 4px);
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
  border: 1px solid variables.$grey03;

  &:hover {
    background-color: variables.$grey02;
  }

  &:focus {
    border: 1px solid variables.$brand01;
  }

  &:active {
    background-color: transparent;
  }
}

.item_info_wrap {
  @include mixin.flex(column, start, start);
  width: 100%;
}

.category {
  @include mixin.font(
    variables.$fs,
    normal,
    variables.$grey05,
    variables.$defaultFont
  );
  text-align: start;
  white-space: pre-wrap;
}

.title {
  text-align: start;
  white-space: pre-wrap;
}

.icon_button {
  @include mixin.flex(column, center, center);
  width: 25px;
  height: 25px;
  background-color: variables.$white;
  border-radius: 8px;

  &:hover {
    pointer-events: auto; // hover 시 자식 요소만 hover 가능
  }
}
