@import "styles/variables";

.header_wrap {
  @include flex(row, space-between, center);

  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.logo_button_wrap {
  @include flex(row, center, center, 4px);

  > * {
    @include font($fl, 600, $brand01, $defaultFont);
  }
}
