@use "styles/variables";
@use "styles/mixin";

.header_wrap {
  @include mixin.flex(row, space-between, center);

  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.logo_button_wrap {
  @include mixin.flex(row, center, center, 4px);

  > * {
    @include mixin.font(
      variables.$fl,
      600,
      variables.$brand01,
      variables.$defaultFont
    );
  }
}
