@use "styles/variables";
@use "styles/mixin";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: variables.$ziLoading;
  background-color: variables.$backdrop;
  @include mixin.flex(column, center, center);
}
