@use "styles/variables";
@use "styles/mixin";

.page_wrap {
  @include mixin.flex(column, start, center, 20px);
  width: 100vw;
  max-width: 1000px;
  height: calc(100vh - 60px);
  padding: 0 40px 40px 40px;
  overflow-y: scroll;
}

.content_wrap {
  @include mixin.flex(column, start, start, 20px);
  width: 100%;
}

.article_wrap {
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  line-height: 1.8;

  p,
  div {
    padding-bottom: 1rem;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 0.5em;
    margin-top: 8px;
    font-weight: bold;
    line-height: 1.5;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  code {
    background-color: #f6f8fa;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    font-family: "Courier New", monospace;
  }

  pre {
    background-color: #f6f8fa;
    padding: 16px;
    border-radius: 6px;
    overflow: auto;
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
    list-style-type: circle;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f6f8fa;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  em {
    font-style: italic;
  }

  a {
    color: -webkit-link; /* 보통 파란색 */

    &:hover {
      text-decoration: underline;
    }
  }
}
