@use "styles/variables";
@use "styles/mixin";

.input_wrap {
  width: 100%;
  @include mixin.flex(row, flex-start, flex-start, 4px);
  padding: 10px;
}

.input_right {
  @include mixin.flex(row, flex-start, center, 8px, 1);

  @media (max-width: "750px") {
    @include mixin.flex(column, center, flex-end, 4px);
  }
}

.input {
  @media (max-width: "750px") {
    width: 100%;
  }
  @media (min-width: "750px") {
    flex-grow: 1;
  }
}
