@use "styles/variables";
@use "styles/mixin";

.item_wrap {
  width: 100%;
  border-bottom: 1px solid variables.$grey03;
  @include mixin.flex(column, flex-start, flex-start, 8px, 1);
}

.comment_item_wrap {
  width: 100%;
  @include mixin.flex(row, flex-start, flex-start, 4px);
  padding: 0.75rem;
}

.left_wrap {
  @include mixin.flex(column, flex-start, flex-start, 8px, 1);
  width: calc(100% - 50px);
}

.first_line {
  width: 100%;
  @include mixin.flex(row, space-between, center, 8px);
}

.date_time {
  width: 100%;
  @include mixin.font(12px, 300, variables.$grey05);

  @media (max-width: 600px) {
    display: none;
  }
}

.nickname {
  @include mixin.font(14px, 600);
}

.content {
  white-space: pre-wrap;
  word-break: normal;
}

.delete_icon_wrap {
  @include mixin.flex(column, center, center);
  width: 24px;
  height: 24px;
}

.like_wrap {
  @include mixin.flex(column, center, center);
  height: 100%;
  > span {
    @include mixin.font(12px, 300);
  }
}
