@use "styles/variables";
@use "styles/mixin";

.comment_wrap {
  @include mixin.flex(column, flex-start, center);
  width: 100%;
}

.comment_list {
  padding: 10px 0 10px 0;
  width: 100%;
  @include mixin.flex(column, flex-start, center, 0);
}
