@use "styles/variables";
@use "styles/mixin";

.content_wrap {
  @include mixin.flex(column, flex-start, flex-start, 20px);
  width: 100%;
}

.list_wrap {
  @include mixin.flex(column, flex-start, flex-start, 12px);
  width: 100%;
}

.error_wrap {
  @include mixin.flex(column, center, center);
  width: 100%;
  padding: 20px;
  color: variables.$grey05;
}
