@use "styles/variables";
@use "styles/mixin";

.first_section {
  @include mixin.flex(column, center, center, 20px);
  background: variables.$brandGradient;
  width: 100%;
  height: calc(100vh - 60px);
}

.font_center {
  text-align: center;
}

.font_label {
  color: variables.$grey05;
}
